body {
	text-align: center;
	margin: auto;
	user-select: none;
}

img {
	cursor: pointer;
	user-select: none;
	max-height: 1000px;
	max-width: 1000px;
	margin: 30px;
	outline-width: 2px;
	outline-color: black;
	outline-style: double;
}

h1 {
	font-size: 50px;
	letter-spacing: 5px;
	margin-bottom: 0;
	cursor: default;
	user-select: none;
}

.nav {
	list-style: none;
	display: inline-flex;
}

li {
	cursor: pointer;
	font-size: 20px;
	margin: 0 10px 0 0;
	transition: all .4s;
	user-select: none;
}

.header {
	display: flex;
	justify-content: center;
	padding: 10px 0px 0 20px;
}

a {
	color: black;
  	text-decoration: none;
  	cursor: default;
}

.link-nav {
	display: inline-block;
	color: black;
  	text-decoration: none;
  	cursor: pointer;
	font-size: 20px;
	margin: 0 10px 0 0;
	transition: all .4s;
	user-select: none;
}

.link-nav:hover {
	transform: scale(1.05) ;
	border-bottom: 1px solid red;
}