.slideshow-container {
	max-width: 800px;
	position: relative;
	margin: auto;
}

.slide-content {
	padding: 0px 20px 10px 50%;
}

img {
	position: absolute;
	max-width: 350px;
	padding: 50px 0px 0px 40px;
	z-index: -1;
	opacity: .5;
}

.slide {
	cursor: default;
}

.hide-slide {
	display: none;
}

.active-slide {
	display: block;
}


.prev, .next {
	cursor: pointer;
	position: absolute;
	color: white;
	top: 50%;
	margin: auto;
	padding: 0 5px;
	font-size: 35px;
	font-weight: bold;
	border-radius: 2px;
	text-shadow: -2px 0 black, 2px 0 black, 0 -2px black, 0 2px black;
	transition: transform .4s;
	-webkit-user-select: none;       
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.prev:hover, .next:hover {
	transform: scale(1.2);
	color: black;
	text-shadow: -2px 0 grey, 2px 0 grey, 0 -2px grey, 0 2px grey;
}

.next {
	right: 0;
}

.dot-container {
	position: relative;
	text-align: center;
	padding-top: 15px;

}

.dot {
	display: inline-block;
	cursor: pointer;
	border-radius: 50%;
	border: 2px solid black;
	width: 10px;
	height: 10px;
	margin: 0 3px;
	background-color: white;
	transition: background-color .4s;
}

.dot:hover, .active-dot{
	background-color: grey;
}

.link {
	display: inline-block;
	border: 2px solid blue;
	padding: 5px;
	text-decoration: none;
	margin: 0 3px 0 0;
	font-size: 20px;
}